* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6, figure, p {
    margin: 0px;
}

main {
    overflow-x: hidden;
    padding: 32px;
}

html {
    scroll-behavior: smooth;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: #f7fafc;
}

#nav__bar,
#features,
#steps, 
#pricing,
#faqs {
    animation: left 850ms ease;
}

#landing,
#quality__work,
#values,
#testimonials,
#dev {
    animation: right 850ms ease;
}

@keyframes left {
    0% {
        opacity: 0;
        transform: translate(-100vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes right {
    0% {
        opacity: 0;
        transform: translate(100vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.btn__menu {
    background-color: transparent;
    font-size: 20px;
    text-align: center;
    border: none;
    color: #000000;
    display: none;
    cursor: pointer;
}

.no__cursor {
    cursor: not-allowed;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.btn__backdrop {
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    margin: 1px 30px;
    padding: 32px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d8d9db;
    border-radius: 10px;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .btn__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu__list {
    margin: 10px 0;
    padding-bottom: 8px;
}

.menu__link {
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    transition: all 500ms ease;
}

.menu__link:hover {
    color: rgb(65, 12, 172);
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #000000;
}

/* NAV BAR */

.nav {
    height: 80px;
    display: flex;
    max-width: 1200px;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 20px 24px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo--text {
    color: #243E63;
    margin: 0px 24px 0 0;
    padding: 0 0 4px;
    font-weight: 900;
    font-size: 24px;
    display: flex;
    align-items: center;
}

b {
    font-weight: bold;
}

.nav__logo {
    width: 40px;
    margin: 0 12px 0 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 32px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

section {
    padding: 0 32px;
}
/*
.nav__links {
    font-size: 14px;
    margin: 0 24px;
    padding: 0 0 4px;
    display: flex;
    align-items: center;
}
*/
.nav__header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__link {
    margin-left: 32px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 650;
    color: black; 
    display: flex;
    padding: 12px;
}

.nav__link--anch {
    margin: 0 24px;
    color: #242424;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    padding: 0 0 4px;
}

.nav__link--space {
    padding: 0 0 4px;
    margin: 0 24px 0 48px;
}

.nav__link--anch-special {
    padding: 12px 32px;
    letter-spacing: 0.025em;
}

.nav__link--button {
    color: #f7fafc;
    background-color: #6415ff;
    padding: 12px 32px;
    border-radius: 32px;
    border: none;
}

/* 

LANDING

*/

.two-column__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;  
    padding-top: 5rem;
    padding-bottom: 5rem; 
}

.container--row {
    width: 40%;
    max-width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left--column__para {
    font-size: 16px;
    margin: 32px 0px;
    color: #243E63;
}

.left--column__input {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 28rem;
}

input {
    padding: 20px 192px 20px 32px;
    border-radius: 9999px;
    border-width: 2px;
}

.left--column__btn {
    color: #f7fafc;
    font-size: 16px;
    background-color: #6415ff;
    margin: 8px 8px 8px 0;
    padding: 16px 0;
    position: absolute;
    text-align: center;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
}

.left--column__para-gray {
    font-size: 14px;
    color: #a0aec0;
    text-transform: uppercase;
    font-weight: 700;
}

.customers--logo__strip {
    max-width: 100%;
}

.logo__strip {
    max-width: 100%;
    width: 80%;
}

.left--column__header {
    color: #1a202c;
    font-size: 30px;
}

.color {
    color: #6415ff;
}

.right--column__container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header--img {
    max-width: 100%;
}

/*

FEATURES

*/

.features--container {
    padding: 80px 0;
}

.features--services {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.features-row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.features--color {
    color: #6415ff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 16px;
}

.features--header__description{
    color: #243E63;
    font-size: 48px;
}

.features--para {
    color: #7C8BA1;
    font-size: 18px;
    margin: 16px 0 0;
    padding: 24px 24px;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.features--img {
    font-size: 16px;
    border-radius: 999px;
    border-width: 1px;
}

.features--img__icon {
    border: 2px solid #a0aec0;
    width: 60px;
    padding: 15px;
    border-radius: 50px;
}

.features--title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
}

.features--description {
    font-weight: 500;
    line-height: 2;
    color: rgb(124 139 161);
}


.features--text__card {
    display: flex;
    width: 100%;
    max-width: 300px;
    margin-bottom: 24px;
    padding: 0 24px;
}

.features--text__container {
    width: 100%;
    max-width: 200px;
}

/*

QUALITY WORK SECTION

*/

.quality--work__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.quality--work__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-top: 100px;   
}

.qw--section__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    font-weight: 700;
    text-transform: uppercase;
}

.quality--work__header {
    color: #243E63;
    font-size: 48px;
    margin: 16px 0 0;
    font-weight: 900;
}

.quality--work__para {
    color: #7C8BA1;
    font-size: 16px;
    margin: 16px 0px 0px;
    font-weight: 600;
    line-height: 1.625;
}

.quality--work__btn {
    color: #f7fafc;
    font-size: 14px;
    background-color: #6415ff;
    margin: 32px 0px 0px;
    padding: 12px 32px;
    border-radius: 999px;
    width: fit-content;
}

.quality--work__img {
    width: 50%;
}

.qw--img {
    width: 100%;
}

/*

STEPS SECTION

*/

.steps--row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.steps--container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.steps--img__container {
    width: 100%;
}

.steps--img {
    width: 100%;
}

.steps--description {
    width: 100%;
    max-width: 80%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: baseline;
}

.steps--column {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps--text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.steps--header__title {
    font-weight: 700;
    font-size: 16px;
}

.steps--header {
    color: #243E63;
    font-size: 36px;
    margin: 16px 0px 0px;
    font-weight: 900;
    line-height: 1.25;
}

.steps--number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.steps--description__header {
    color: #243E63;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.steps--description__para {
    color: #718096;
    font-size: 14px;
    margin: 12px 0px 0px;
    margin-top: 0.75rem;
    max-width: 20rem;
    font-weight: 500;
    line-height: 2;
}

/*

VALUES SECTION

*/

.values--row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.values--container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 100px;
}

.values--description {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.values--description__img {
    width: 100%;
    padding-top: 100px;
}

.vd--img {
    width: 100%;
}

.values--description__header {
    color: #243E63;
    font-size: 36px;
    margin: 16px 0px 0px;
    font-weight: 900;
    line-height: 1.25;
}

.values--description__para {
    color: #7C8BA1;
    font-size: 16px;
    margin: 32px 0 0;
    font-weight: 500;
    line-height: 1.625;
    margin-top: 2rem;
}

.values--description__para-icons {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0;
}

.vdpi--container {
    width: 100%;
}

.vdpi--container__sect {
    display: flex;
}

.values--description__icon-title {
    color: #243E63;
    font-size: 20px;
    margin: 0 0 0 12px;
    font-weight: 700;
}

.vdp2 {
    color: #718096;
    font-size: 16px;
    margin: 16px 0 0;
    line-height: 1.625;
    width: 100%;
    max-width: 200px;
}

.vd--btn {
    color: #f7fafc;
    font-size: 14px;
    background-color: #6415ff;
    margin: 32px 0px 0px;
    padding: 12px 32px;
    border-radius: 999px;
    width: fit-content;
}

/* 

PRICING

*/  
/*
.pricing--row {
    
}
*/

.pricing--container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

.pricing--headers {
    width: 100%;
    max-width: 800px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.pricing--subheader {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.pricing--header__bold {
    color: #243E63;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.pricing--para {
    color: #718096;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    text-align: center;
    margin: 16px 0 0;
    width: 100%;
}

.column--pricing__container {
    width: 100%;
    max-width: 1200px;
    padding-top: 50px;
    display: flex;
    margin: 0 auto;
}

.pricing--plans {
    width: 100%;
    max-width: calc(100 / 3);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 0 16px;
    border: 2px solid gray;
    position: relative;
    text-align: center;
}

.pricing--plans__header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    line-height: 1.625;
}

.pricing--features {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.pricing--name {
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
}

.pricing--cost {
    color: #1a202c;
    font-size: 48px;
    font-weight: 700;
    margin: 4px 0;
}

.pricing--duration {
    color: #a0aec0;
    font-size: 16px;
    font-weight: 700;
}

.pricing--plan__subheader {
    color: #1a202c;
    font-size: 16px;
    font-weight: 700;
}

.pricing--feature {
    color: #718096;
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0 0;
}

.pricing--button {
    padding: 32px;
}

.pricing-btn {
    color: #f7fafc;
    font-size: 14px;
    background-color: #6415ff;
    padding: 16px 32px;
    border-radius: 30px;
    width: 100%;
    max-width: 70%;
    text-transform: uppercase;
}

/*

TESTIMONIAL SECTION

*/

.testimonial--row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 150px;
}

.testimonial--container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.testimonial--img {
    width: 100%;
    max-width: 50%;
}

.testimonial--img__left {
    width: 80%;
}

.testimonial--column__right {
    width: 100%;
    max-width: 50%;
}

.testimonial--header__span {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.testimonial__header {
    color: #243E63;
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0 0;
    line-height: 1.25;
}

.testimonial--para {
    color: #718096;
    font-size: 18px;
    margin: 24px 0 0;
    font-weight: 500;
    line-height: 1.625;
}

.testimonial--ratings {
    color: #FABF2A;
    margin: 16px 0 0;
}

.testimonial--ratings__header {
    color: #243E63;
    font-size: 20px;
    margin: 16px 0 0;
    font-weight: 700;
}

.testimonial--ratings__para {
    color: #4A5568;
    font-size: 16px;
    margin: 14px 0 14px;
    font-weight: 700;
    line-height: 1.625;
}

.testimonial--ratings__img {
    display: flex;
    padding: 16px;
    margin-top: 16px;
}

.testimonial--ratings__img-wrapper {
    display: flex;
    padding: 16px;
    margin-top: 16px;
    max-width: 50%;
    margin-left: -16px;
    justify-content: space-between;
}

.testimonial--ratings__img-circle {
    width: 100%;
    border-radius: 50%;
}

.testimonial--ratings__contact {
    padding: 0 0 0 24px;
    text-align: left;
    width: 100%;
}

.testimonial--ratings__contact-pos {
    color: #7C8BA1;
    font-size: 16px;
    font-weight: 500;
}

/*

FAQS SECTION DESCRIPTION

*/

.faqs--container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 0;
}

.faqs--header {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.faqs--header__title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.faqs--subheader {
    color: #243E63;
    font-size: 48px;
    font-weight: 900;
}

.faqs--para {
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    margin: 16px 0 0;
    line-height: 1.625;
}

/*

DEV SECTION

*/

.dev--row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 96px 0;
}

.dev--container {
    background-color: rgb(100, 21, 255);
    width: 100%;
    height: 250px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 150px 20px;
}

.dev--description {
    width: 100%;
    max-width: 80%;
    color: #f7fafc;
    margin: 0 auto;
    padding: 25px;
    font-size: 30px;
}

.dev--buttons {
    width: 100%;
    max-width: 40%;
    display: flex;
}

.dev--button {
    width: 100%;
    max-width: 200px;
}

.dev--button__one {
    width: 100%;
    max-width: 150px;
    background-color: #F56565;
    font-size: 20px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    padding: 24px 16px;
    cursor: pointer;
}

.dev--button__two {
    width: 100%;
    max-width: 150px;
    background-color: #6415ff;
    border-color: #f7fafc;
    color: #f7fafc;
    font-size: 20px;
    border-radius: 50px;
    font-weight: bold;
    padding: 24px 16px;
    cursor: pointer;
}

/*

FOOTER 

*/

.footer--row {
    width: 100%;
    margin: 0 auto;
}

.footer--container {
    width: 100%;  
    background-color: rgb(100 21 255);
    height: 350px;
    display: flex;
    align-items: center;
    color: #f7fafc;
}

.footer--classes {
    width: 100%;
    display: flex;
    
}

.footer--class {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.footer--links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f7fafc;
}

.footer--link {
    padding: 10px 0;
    color: #f7fafc;
}

.footer--social__container {
    width: 100%;
    height: 200px;
    background-color: rgb(100 21 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: #f7fafc;
}

.footer--social__sect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 90%;
}

.footer--logo__sect {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 15%;
}

.footer--logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 25%;
}

.footer--logo__img {
    width: 2rem;
}

.footer--logo__text {
    color: #f7fafc;
    font-size: 20px;
    margin: 0 0 0 8px;
    font-weight: 900;
    width: 100%;
    max-width: 75%;
}

.footer--para {
    color: #CBD5E0;
    font-size: 16px;
    font-weight: 500;
}

.footer--social__links-sect {
    width: 100%;
    max-width: 10%;
}

.footer--social__links {
    display: flex;
}

.footer--social__link {
    background-color: #f7fafc;
    margin: 0 16px 0 0;
    padding: 8px;
    border-radius: 99px;
    color: #242424;
    cursor: pointer;
}

/*

LARGE PHONES, TABLETS AND SMALL PHONES

*/

@media (max-width: 1024px) {
    .left--column__header{
        text-align: center;
        margin-top: -14px;
        font-size: 40px;
    }

    .container--row {
        display: flex;
        flex-direction: column;
    }

    .left--column__para {
        text-align: center;
        font-size: 14px;
    }

    .btn__menu {
        display: block;
    }

    .nav__links{
        display: none;
    }

    .right--column--img {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .features--header {
        font-size: 16px;
    }

    .features--header__description {
        font-size: 30px;
    }

    .left--column__input {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }

    .left--column__btn {
        width: 30%;
    }

    .left--column__customers {
        width: 100%;
        margin: 32px;
    }

    .left--column__para-gray {
        font-size: 14px;
        text-align: center;
    }

    .features--text__card {
        width: calc(100 / 2);
    }

    .quality--work__img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    .steps--img__container {
        max-width: 440px;
    }

    .pricing--subheader {
        margin-top: 90px;
    }

    .column--pricing__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dev--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .dev--description {
        width: 100%;
        margin-bottom: 30px;
    }

    .dev--buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .footer--container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .left--column__header{
        font-size: 25px;
        text-align: center;  
    }
    
    .left--column__btn{
        width: 100%;
        margin-top: 40px;
    }

    .left--column__input {
        display: none;
    }

    .features--services {
        display: flex;
        justify-content: center;
    }

    .features--text__card {
        width: 80%;
        justify-content: center;
    }

    .quality--work__container {
        display: flex;
        align-items: center;
    }

    .qw--section__description {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
    }

    .quality--work__img {
        display: none;
    }

    .quality--work__header,
    .quality--work__para {
        text-align: center;
    }

    .quality--work__btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .steps--container {
        display: flex;
        flex-direction: column;
    }

    .steps--img__container {
        width: 100%;
        margin-bottom: 80px;
    }
    
    .steps--header__title,
    .steps--header {
        text-align: center;
    }

    .steps--description {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .steps--text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .steps--header {
        text-align: center;
    }

    .steps--description__para {
        text-align: center;
    }

    .values--container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .values--description__header,
    .values--description__para {
        text-align: center;
    }
    
    .values--description__icon-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .vdpi--container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        margin-right: 30px;
    }
    
    .vd--img {
        display: none;
    }

    .pricing--header__bold {
        text-align: center;
    }

    .column--pricing__container {
        max-width: 360px;
    }

    .testimonial--container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .testimonial--img {
        margin-bottom: 40px;
    }

    .testimonial--column__right {
        width: 90%;
    }

    .testimonial--header__span,
    .testimonial__header,
    .testimonial--para,
    .testimonial--ratings,
    .testimonial--ratings__para {
        text-align: center;
    }

    .testimonial--ratings__header {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .testimonial--ratings__img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    .dev--description {
        text-align: center;
        font-size: 24px;
        width: 100%;
    }

    .dev--buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .footer--container {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .features--text__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .features--img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
    }

    .features--title {
        text-align: center;
        margin-top: 20px;
    }

    .features--description {
        text-align: center;
    }

    .pricing--plans {
        max-width: 330px;
    }

    .pricing--para {
        width: 60%;
    }

    .dev--description {
        font-size: 20px;
    }

    .dev--buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer--container {
        width: 100%;
    }

    .footer--social__container {
        flex-direction: column;
        align-items: center;
    }

    .footer--social__sect {
        margin-bottom: 20px;
    }

    .footer--para {
        margin-bottom: 20px;
    }

    .dev--description {
        text-align: center;
        font-size: 14px;
        width: 100%;
        margin-top: 20px;
    }

    .dev--buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .footer--container {
        width: 100%;
    }
}

@media (max-width: 468px) {
    .features--header {
        text-align: center;
    }

    .features--header__description {
        text-align: center;
    }

    .features--title {
        text-align: center;
    }

    .steps--header__title {
        text-align: center;
    }

    .values--description {
        text-align: center;
    }

    .values--description__icon-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}